.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  list-style: none;
  cursor: pointer;
  margin: 32px 0;
}

.pagination a {
  font-family: Be Vietnam;
  font-weight: 400;
  font-size: 16px;
  margin-right: 16px;
  padding: 5px 10px;
  border-radius: 22px;
  background-color: #fafafa;
  color: #8d8d8d;
}

.pagination a:hover {
  background: #eaeaea;
}

.pagination .previous,
.pagination .next {
  display: none;
}
@media screen and (min-width: 580px) {
  .pagination .previous,
  .pagination .next {
    display: block;
  }
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #242d52;
  font-weight: bold;
  background: #f3603c;
}

.pagination__link--active a:hover {
  background: #f3603c;
}

.pagination__link--disabled a {
  opacity: 0.3;
  color: gray;
  border: none;
}
